// SCSS --> LoginPage
.LoginContainer {
  .notChecked {
    background-color: lightgrey;
  }
}

.prova {
  // border: 1px solid black;
  // border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
